<footer class="rodape">
    <img class="rodape-image1" src="/assets/img/Redes Sociais.svg">
    <img class="rodape-image2"src="/assets/img/facebook branco 1.svg">
    <img class="rodape-image2"src="/assets/img/instagram branco 1.svg">
    <section class="conteudo-rodape">
        <h4 class="conteudo-rodape1">O Melhor da Tecnologia Gamer Com Frete Grátis Para Todo o Brasil! Aproveite. Frete Grátis. Linha Gamer. 
          Ofertas Imperdíveis. Serviços: Frete Gratis, 10x Sem Juros, Assistência Tecnica.</h4>
    </section>
</footer>