<main class="banner">
    
    <section class="banner-principal">
        <div class="banner-principal-texto">
            <h1 class="banner-subtitulo">Notebooks</h1>
            <h2 class="banner-subtitulo2">Com o notebook gamer você ganha mobilidade, já que este possui especificações muito boas para quem gosta de jogar os mais diversos jogos.</h2>
            
        </div>
        <img class="banner-imagem" src="assets/img/notebookGamer2.svg" alt="notegamer">

    </section>

    <section class="conteudo">
      <h3 class="conteudo-subtitulo"><strong>10ª geração de Intel® Core™ i5-10500H</strong></h3>
      <p class="conteudo-subtitulo"><strong>Windows 11 Home Single Language</strong> </p>
      <p class="conteudo-subtitulo"><strong>Placa de vídeo dedicada NVIDIA® GeForce GTX™ 1650 com 4GB GDDR6</strong></p>
      <p class="conteudo-subtitulo"> <strong>Memória de 8GB</strong></p>
      <p class="conteudo-subtitulo"> <strong>SSD de 512GB PCIe NVMe M.2</strong></p>
      <p class="conteudo-subtitulo"> <strong>Tela 15.6”</strong></p>
      <p class="conteudo-subtitulo"> <strong>Peso inicial de 2,44 kg</strong></p>

    </section>
  </main>
